<!DOCTYPE html>
<html>
  <head>
    <title>Video Surveillance</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
  </head>
  <body>

    <py-config>
      packages = ["pycryptodome"]
    </py-config>

    <py-script>
      from pyscript import Element
      from Crypto.Signature import pss
      from Crypto.Hash import BLAKE2s

      public_key = Element('public-key').innerHtml
      
    </py-script>
    <h1>Video Streaming Demonstration</h1>
    <img id="video-feed" src="{{ url_for('video_feed') }}">
    <div id="public-key" style="display: none;">{{ public_key }}</div>
  </body>
</html>